<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @product.image.url %>
    </div>
  </div>

  <div class="col-md-6">
    <h3><%= @product.name %></h3>
    <h4><%= number_to_currency(@product.price, :unit => "€") %></h4>
    <p><%= @product.description %></p>
  </div>
  
  
</div>  

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %> |
<%= link_to 'Back', products_path, class: "btn btn-info" %>
